body {
  background: #222;
  color: #ddddde;
  font-family: sans-serif;
}

pre {
  border: 1px solid #eee;
  background: #1E1E1E;
  padding: 2px;
  font-family: monospace;
  overflow:auto;
}

.dasm {
  border: 1px solid #eee;
  background: #1E1E1E;
  padding: 2px;
  font-family: monospace;
  cursor: default;
}

.dasm td {
  padding: 3px;
}

.dasm td:nth-child(1) {
  color: #608B4E;
}

.dasm td:nth-child(2) {
  color: #9B9B9B;
}

.dasm td:nth-child(3) {
  color: #D69D85;
}

.dasm td:nth-child(4) span {
  color: #4E9CD6;
}

.dasm_68k_def {
  border-bottom: 1px dashed #4E9CD6;
}

.dasm_68k_plain {
  color: #ccc;
}

#dasm_def, #dasm_com {
  font-family: monospace;
  background: #1E1E1E;
  padding: 2px;
  border: 1px solid #eee;
  color: #B5CEA8;

  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

#pre_input {
  width: 80%;
  min-height: 200px;
  color: inherit;
  background: #666;
}
